name: Linux

# Run on PR requests. And on master itself.
on:
  push:
    branches:
      - master
  pull_request:

jobs:
  TestLinux:
    name: Linux, Python ${{ matrix.python }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          # 2021
          - python: 3.9
            os: ubuntu-22.04
            pins: "sqlalchemy==1.4.44 alembic==1.8.* geoalchemy2==0.14.0"
          # 2022
          - python: "3.10"
            os: ubuntu-22.04
            pins: "sqlalchemy==1.4.44 alembic==1.8.* geoalchemy2==0.14.0"
          # 2023
          - python: "3.11"
            os: ubuntu-22.04
            pins: "sqlalchemy==2.0.24 alembic==1.13.1 geoalchemy2==0.14.3"
            pytestargs: "-Werror"
          # 2024
          - python: "3.12"
            os: ubuntu-latest
            pins: "sqlalchemy==2.0.* alembic==1.13.* geoalchemy2==0.15.0"
            pytestargs: "-Werror"
          # 2024 - with geoalchemy2 0.18.0
          - python: "3.12"
            os: ubuntu-latest
            pins: "sqlalchemy==2.0.* alembic==1.13.* geoalchemy2==0.18.0"
    steps:
      - uses: actions/checkout@v4
        with:
          lfs: true

      - name: Set up Python ${{ matrix.python }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}

      - name: Install GDAL, sqlite3 and spatialite
        run: |
          sudo apt update
          sudo apt install --yes --no-install-recommends sqlite3 libsqlite3-mod-spatialite libgdal-dev
          sqlite3 --version

      - name: Install python dependencies
        shell: bash
        run: |
          pip install --disable-pip-version-check --upgrade pip setuptools wheel
          pip install ${{ matrix.pins }} .[test,cli]
          pip install GDAL==$(gdal-config --version)
          pip list

      - name: Run tests
        shell: bash
        run: |
          pytest ${{ matrix.pytestargs }}
